/* CSS 파일 이 문서 전체가 스타일 정보를 기술할 수 있는 영역 */

/* 1. 속성 선택자 */

/* div 요소들 중 name속성의 속성값이 name1과 "일치"하는 요소만 선택 */

div[name="name1"]{
    color :chocolate;
}

/* div 요소들 중 name속성의 속성값에 name1이 "포함"되어있는 요소만 선택 */

div[name~="name1"]{ /* 속성값이 정확하게 일치해야만 함*/
    background-color:crimson;
}

/* div요소들 중 class속성값에 i가 "포함"되어있는 요소만 선택 */
div[class*="i"]{
    background-color: darkolivegreen;
}

/* div요소들 중 class속성값이 div로 "시작"하는 요소만 선택 */

div[class|=div]{
    color : yellow;
}

/* div요소들 중 name속성값이 name3으로 "시작"하는 요소만 선택 */

div[name^="name3"]{
    background-color: slateblue;
}

/* div요소들 중 class속성값이 ss로 "끝"나는 요소만 선택 */

div[class $="ss"] {
    background-color: rgb(46, 207, 240);
}

/* class속성값이 div-class인 요소들 중에서 name속성값에 name3이 "포함"되어있는 요소의 배경색 변경 */

.div-class[name~=name3]{
    background-color: cornflowerblue;
}